<!doctype html>
<html>
<head>
    <title>Second-Auth-Shopping</title>
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="indexstyle.css">
</head>
<body>
    <section class="whole">
        <h1>Upcycle, Upload, <br> and Level Up</h1>
        <section class="buttons">
            <a href="/login" class="btn btn-default">LOGIN</a>
            <a href="/signup" class="btn btn-default">SIGNUP</a>
        </section>
    </section>
</body>
</html>
